<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題！！！！！！！！！！！！！</h1>
    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select weight, give_for from crops where not give_for = '自家消費';") %>
    <% data1 = [] %>

    <% result.each do |record| %>
      <%  data1 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="data1.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます（自家消費した物を除く）<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="data1" value="<%= data1.join(' ') %>">
      <input type="submit" name="送信" >
    </form>


    <% result = connection.exec("select weight, give_for from crops where quality = false ;") %>
    <% data2 = [] %>

    <% result.each do |record| %>
      <%  data2 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="data2.cgi" method="POST">
       下記のボタンを押すと、低品質のゴーヤに関する大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="data2" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>


  </body>
</html>
